{% extends "registration/usuario_reset_base.html"  %}
{% load i18n static %}
{% load bootstrap3 %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'home_redirect' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'home_redirect' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ titulo }}</h1>{% endblock %}

{% block content %}<div id="content-main">

    <form method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {% endif %}


            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
            </p>

            <fieldset class="module aligned wide">

                <div class="form-row">
                    {{ form.old_password.errors }}
                    {% bootstrap_field form.old_password %}
                    <input type="hidden" name="next" value="{{ next }}">

                </div>
                <div class="form-row">
                    {{ form.new_password1.errors }}
                    {% bootstrap_field form.new_password1 %}
                    <input type="hidden" name="next" value="{{ next }}">
                </div>

                <div class="form-row">
                    {{ form.new_password2.errors }}
                    {% bootstrap_field form.new_password2 %}
                    <input type="hidden" name="next" value="{{ next }}">
                </div>

            </fieldset>

            <div class="submit-row">
                <input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}">
                <a href="javascript:history.go(-1);" class="btn btn-info" role="button">Voltar</a>
            </div>

        </div>
    </form>
</div>

{% endblock %}